@import "./../../../style/index.scss";

* {padding: 0;margin: 0;border: 0; font-family: 'OpenSans', sans-serif;}
*, *:before, *:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: 400;}

:root{
  --font-family: 'Inter', sans-serif;
}

html{
  background-color: #EAFFCF;
//
}

.button{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #000;
  border-radius: getRem(8);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: getRem(20);
  line-height: 150%;
  color: #eaffcf;
  text-align: center;
}

.header{
  height: getRem(123);
}
.header__container{
  max-width: getRem(1303 );
  margin: getRem(0) auto;
  height: 100%;
}

.header__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__col--navigation{
  display: flex;
  text-align: center;
  line-height: getRem(32);
  justify-content: flex-end;
  margin-left: auto;
}

.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation__list {
  display: flex;
  align-items: center;
  margin: getRem(0);
  padding: getRem(0);
}

.navigation__item {
  margin-right: getRem(48);
  font-size: getRem(20);
}

.navigation__item:last-child {
  margin-right: getRem(0);
}

.active {
  color: #000000;
  font-weight: 500;
  line-height: 150%;
}

.header__col--login{
  margin-left: getRem(48);
}

.login__button {
  padding: getRem(14) getRem(16);
  border-radius: getRem(8);
  background-color: #000000;
  color: #EAFFCF;
  font-size: getRem(16);
  box-shadow: getRem(0) getRem(1) getRem(2) getRem(0) rgba(0, 0, 0, 0.05);
}

.header--logo{
  width: getRem(142);
  height: getRem(30);
}